* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  height: 100vh;
  display: flex;
}

.column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.column h2{
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background .3s ease;
}

.column h2:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.column button{
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  transition: background .3s ease;
}

.column button:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}